{% extends 'base.html' %}
{% block content %}
  <h2>Login</h2>
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.email.label }}
      {{ form.email(class_='form-control') }}
    </div>
    <div class="mb-3">
      {{ form.password.label }}
      {{ form.password(class_='form-control') }}
    </div>
    <div class="mb-3 form-check">{{ form.remember() }} {{ form.remember.label }}</div>
    <button class="btn btn-primary">Login</button>
  </form>
  <hr>
  <a href="{{ url_for('register_student') }}">Register as Student</a> | <a href="{{ url_for('register_company') }}">Register as Company</a>
{% endblock %}